.embla {
    overflow: hidden;
}

.embla__container {
    display: flex;
}

.embla__slide {
    flex: 0 0 100%;
    min-width: 0;
}

.embla__buttons {
    display: flex;
    justify-content: start;
    gap: 0.5em;
    flex-shrink: 0;
}

.embla__button {
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    border: 1px solid #ccc;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    flex-shrink: 0;
}

.embla__button:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}

.embla__button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.embla__progress {
    border-radius: 1.8rem;
    box-shadow: inset 0 0 0 0.2rem rgb(234, 234, 234);
    background-color: rgb(249, 249, 249);
    position: relative;
    height: 0.6rem;
    justify-self: flex-end;
    align-self: center;
    width: 13rem;
    max-width: 90%;
    overflow: hidden;
}

.embla__progress__bar {
    background-color: rgb(167, 167, 167);
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    left: -100%;
}

.embla__controls {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
}

.embla__progress {
    justify-self: center;
    transition: opacity 0.3s ease-in-out;
    width: 15rem;
}

.embla__progress--hidden {
    opacity: 0;
}

.embla__progress__bar {
    animation-name: autoplay-progress;
    animation-timing-function: linear;
    animation-iteration-count: 1;
}

.embla__progress--hidden .embla__progress__bar {
    animation-play-state: paused;
}

@keyframes autoplay-progress {
    0% {
        transform: translate3d(0, 0, 0);
    }

    100% {
        transform: translate3d(100%, 0, 0);
    }
}